/* Reset básico */
html, body {
    height: 100%; /* Asegura que ocupen toda la altura de la ventana */
    margin: 0;
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
}

/* Contenido principal */
.main-content {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

/* Navbar */
.header {
    background-color: #1E1E1E;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Separa los elementos: menú a la izquierda, carrito a la derecha */
    align-items: center; /* Alinea verticalmente los elementos */
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.cart-icon {
    width: 40px;
    margin-left: auto;
}

/* Logo Section */
.logo-section {
    text-align: center;
    
}

/* Logo Section */
.logo-section {
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}

.logo {
    max-height: 300px;
    width: auto;
}

/* Content Section */
.content-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contacto Section */
.contact-section {
    position: relative;
    text-align: center;
    color: #fff;
}

.contact-img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.contact-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.contact-info h2, .contact-info p {
    margin: 5px 0;
}

.contact-info hr {
    border: 1px solid #fff;
    width: 10%;
    margin: 10px auto;
}

.buttonc{
    padding: 10px 20px;
    border: none;

    background-color: #131111;
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #f9f7d573;
    cursor: pointer;
    font-size: 23px;
    border-radius: 5px;  
    margin-top: 200px;
}
.buttonc:hover {
    background-color:#f9f7d53b ;
}

/* Estilo para los campos de entrada en el formulario */
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.input-field:focus {
    outline: none;
    border: 1px solid #f9f7d573;
    box-shadow: 0 0 5px rgba(249, 247, 213, 0.7);
}

/* Estilo para el botón */
.buttonc {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #131111;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    border: solid 1px #f9f7d573;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.buttonc:hover {
    background-color: #f9f7d53b;
    transform: scale(1.05);
}




/* Carrito de Compras (Vista Administrador) */
.carrito-admin {
    background-color: #f1f1f1;
    width: 80%;
    margin: 0 auto;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carrito-admin h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #000;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    color: #000;
}

th {
    background-color: #e0e0e0;
}

/* Footer */
.footer {
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: auto; /* Empuja el footer al final de la página */
    font-size: 1.3em;
}

.footer p {
    margin: 0;
}

.social-icons {
    margin-top: 15px;
}

.social-icons img {
    width: 35px;
    margin: 0 10px;
}

.social-icons img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* Estilo para los campos de entrada en el formulario */
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.input-field:focus {
    outline: none;
    border: 1px solid #f9f7d573;
    box-shadow: 0 0 5px rgba(249, 247, 213, 0.7);
}

/* Estilo para el botón */
.buttonc {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #131111;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border: solid 1px #f9f7d573;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.buttonc:hover {
    background-color: #f9f7d53b;
    transform: scale(1.05);
}
