<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Blog</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Gotti/css/indexStyle.css' %}">
</head>
<body>
    <header>
        <h1 class="logo">StyleBlog</h1>

        <nav>
            <ul class="menus">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto'%}">Contacto</a></li>
            </ul>

            <div class="user-menu">
                <button onclick="window.location.href='{% url 'perfilColaborador' %}';" >Perfil</button>
                <button onclick="window.location.href='{% url 'cerrar_sesion2' %}';">Cerrar Sesión</button>
            </div>
        </nav>
    </header> 
    <li></li>
    <main>
        <section class="card-container">
            <div class="card">
                <img onclick="window.location.href='{% url 'indexbarbero' %}'" src="{%static 'Gotti/img/barberia.png' %}" alt="Barbería Gotti">
                <h2>Barbería Gotti</h2>
            </div>
            <div class="card">
                <img src="{%static 'Gotti/img/estilista.png' %}" alt="Estilista GirlStyle">
                <h2>Estilista GirlStyle</h2>
            </div>
            <div class="card">
                <img src="{%static 'Gotti/img/peluqueria.png' %}" alt="Peluquería Unisex">
                <h2>Peluquería Unisex</h2>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
            <div class="social-media">
                <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vista/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'Gotti/img/vista/x.png' %}" alt="X"></a>
                <a href="#"><img src="{% static 'Gotti/img/vista/facebook.png' %}" alt="Facebook"></a><br>
            </div>
        </div>
    </footer>

    <script src="{% static 'Gotti/js/script.js' %}"></script>
</body>
</html> 