<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotti Barbería - Horarios Disponibles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Gotti/css/barbero/horariosServicios.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'indexbarbero' %}">Inicio</a></li>
                <li><a href="{% url 'contactobarbero' %}">Contacto</a></li>
                <li><a href="{% url 'serviciosbarbero' %}">Servicios</a></li>
                <li><a href="{% url 'productosbarbero' %}">Productos</a></li>
                <li><a href="{% url 'horas_reservadas' %}">Horas Reservadas</a></li>
                <li><a href="{% url 'inicioColaborador' %}">Blog</a></li>
            </ul>
            <a href="{% url 'carritobarbero' %}"><img src="{% static 'Gotti/img/vista/carrito.png' %}" alt="Carrito" class="cart-icon"></a>
        </nav>
    </header>

    <section class="logo-section">
        <img src="{% static 'Gotti/img/vista/logo.jpg' %}" alt="Logo Gotti" class="logo"><br><br>
    </section>

    <h1 style="text-align: center; color: black;">Horarios Disponibles para {{ servicio.nombreServicio }}</h1>
    <!-- Card para horarios futuros -->
    <div class="card">
        <h2 class="card-title">Horarios del día y futuros</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Término</th>
                    <th>Disponibilidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for horario in page_obj_futuros %}
                <tr>
                    <td>{{ horario.fecha }}</td>
                    <td>{{ horario.horarioinicio|time:"H:i" }}</td>
                    <td>{{ horario.horariofin|time:"H:i" }}</td>
                    <td>{{ horario.disponibilidad }}</td>
                    <td>
                        <form action="{% url 'eliminar_horario' horario.idbloque %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No hay horarios disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page_obj_futuros.has_previous %}
                <a href="?page_futuros={{ page_obj_futuros.previous_page_number }}" class="btn btn-secondary">Anterior</a>
            {% endif %}
            <span>Página {{ page_obj_futuros.number }} de {{ page_obj_futuros.paginator.num_pages }}</span>
            {% if page_obj_futuros.has_next %}
                <a href="?page_futuros={{ page_obj_futuros.next_page_number }}" class="btn btn-secondary">Siguiente</a>
            {% endif %}
        </div>
    </div>

    <h1></h1>
    <!-- Card para horarios pasados -->
    <div class="card">
        <h2 class="card-title">Horarios Pasados</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Término</th>
                    <th>Disponibilidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for horario in page_obj_pasados %}
                <tr>
                    <td>{{ horario.fecha }}</td>
                    <td>{{ horario.horarioinicio|time:"H:i" }}</td>
                    <td>{{ horario.horariofin|time:"H:i" }}</td>
                    <td>{{ horario.disponibilidad }}</td>
                    <td>
                        <form action="{% url 'eliminar_horario' horario.idbloque %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No hay horarios pasados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page_obj_pasados.has_previous %}
                <a href="?page_pasados={{ page_obj_pasados.previous_page_number }}" class="btn btn-secondary">Anterior</a>
            {% endif %}
            <span>Página {{ page_obj_pasados.number }} de {{ page_obj_pasados.paginator.num_pages }}</span>
            {% if page_obj_pasados.has_next %}
                <a href="?page_pasados={{ page_obj_pasados.next_page_number }}" class="btn btn-secondary">Siguiente</a>
            {% endif %}
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <button onclick="window.location.href='{% url 'crear_horarios' servicio.idServicio %}';" class="btn-volver">Volver</button>
    </div>
    <br><br>

    <footer class="footer">
        <p>Desde 2024. Gotti © Todos los Derechos Reservados.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vista/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'Gotti/img/vista/x.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'Gotti/img/vista/facebook.png' %}" alt="Facebook"></a><br>
        </div>
    </footer>
</body>
</html>
