<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotti Barbería - Carrito de Compras</title>
    <link rel="stylesheet" href="{% static 'Gotti/css/cliente/indexCliente.css' %}">
</head>
<body>

    <!-- Header -->
    <header class="header">
    <div class="main-content">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'indexCliente' %}">Inicio</a></li>
                <li><a href="{% url 'contactoCliente' %}">Contacto</a></li>
                <li><a href="{% url 'servicio'  %}">Servicios</a></li>
                <li><a href="{% url 'productosCliente' %}">Productos</a></li>
                <li><a href="{% url 'inicioCliente' %}">Blog</a></li>
            </ul>
            <a href="{% url 'carritoCliente' %}"> <img src="{% static 'Gotti/img/vista/carrito.png' %}" alt="Carrito" class="cart-icon"></a>
        </nav>
    </header>
    <section class="logo-section">
        <img src="{% static 'Gotti/img/vista/logo.jpg' %}" alt="Logo Gotti" class="logo">
        
    </section>
    <section class="content-section">
        <div class="content-item">
            <img src="{% static 'Gotti/img/vista/reserva1.png' %}" alt="Corte de cabello">
            <div class="overlay">
                <h2>CORTE DE CABELLO</h2><br><br><br><br>
                <a href="{% url 'servicio' %}"><button>Agendar</button></a>
            </div>
        </div>
        <div class="content-item">
            <img src="{% static 'Gotti/img/vista/reserva2.png' %}" alt="Productos">
            <div class="overlay">
                <h2>PRODUCTOS</h2><br><br><br><br>
                <a href="{% url 'productosCliente' %}"><button>Productos</button></a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>Desde 2024. Gotti © Todos los Derechos Reservados.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vista/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'Gotti/img/vista/x.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'Gotti/img/vista/facebook.png' %}" alt="Facebook"></a><br>
        </div>
    </div>
    </footer>
</body>
</html>